@import 'mixins';
@import 'colors';

#nav {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $royal-blue;
    position: fixed;
    top: 0;
    ul {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            padding: 0 1rem 0 0;
            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: $grey-blue;
                &:hover {
                    color: $white;
                }

                @include mobile {
                    font-size: 1rem;
                }
            }
        }
        #logout {
            margin-left: auto;
            button {
                font-family: unset;
                font-size: 1.2rem;
                color: $grey-blue;
                background-color: $royal-blue;
                border: none;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}