<link rel="stylesheet" href="css/index.content.css">

<h3 id="content-header">{{ contentHeader }}</h4>
<p id="content-body">
    {{#each content}}
      {{ this }}
      <br>
      <br>
    {{/each}}
</p>